.vs/
*.docx
# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vscode/
.env

# ASP.NET publish folders
**/wwwroot/

# Logs
*.log
logs/

# Node (React frontend)
node_modules/
build/
dist/
.vite/
npm-debug.log
yarn-debug.log
yarn-error.log

# Docker
Dockerfile
*.tar
*.img

# OS Files
.DS_Store
Thumbs.db
/src/SmartDocAI.Mobile-created-with-blank-template-not-running-emulator/node_modules-deleted
